{% extends 'adminapp/index.html' %}
{% block content %}

<div class="container mt-5">
    <!-- Home Button -->
    <div class="mb-3">
        <a href="{% url 'index' %}" class="btn btn-outline-primary">
            <i class="fas fa-home me-1"></i><strong>Home</strong>
        </a>
    </div>
    <div class="card">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Add House</h4>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Category</label>
                        <select name="category" class="form-select" required>
                            <option value="">-- Select Category --</option>
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control" rows="3"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Images</label>
                    <input type="file" name="images" class="form-control" multiple required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Expected Amount</label>
                    <input type="text" name="expected_amount" class="form-control" 
                        placeholder="E.g. 2500000-3000000" required>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Cent Range</label>
                        <input type="text" name="cent_range" class="form-control" placeholder="E.g. 4-5 or 3.5-7">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Square Feet Range</label>
                        <input type="text" name="sqft_range" class="form-control" placeholder="E.g. 1000-1500">
                    </div>
                </div>


                <button type="submit" class="btn btn-success">Add House</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}